p {
}

body {
  background-color: rgb(127,175,247);
}

textParagraph {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#textParagraph {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#header {
  -webkit-box-shadow: 0px 1px 118px 6px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 1px 118px 6px rgba(0,0,0,0.67);
  box-shadow: 0px 1px 118px 6px rgba(0,0,0,0.67);
}

#head {
  font-size: 70px;
  font-weight: 700;
  color: #a8d6ff;
  font-family: serif;
  text-shadow: -6px 4px 2px rgba(0,0,0,0.43);
}

.text-center {
}

#subhead {
  font-size: 20px;
  font-weight: 300;
  color: #a8d6ff;
  font-family: serif;
  text-shadow: -6px 4px 2px rgba(0,0,0,0.43);
}

#brief {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: -3px 2px 1px rgba(0,0,0,0.43);
}

img {
  width: 50px;
}

